<div class="row">
	<div class="forms">
		<div class="col s12 b-town">
			<div class="in_forms">
				<%= form_for @institution do |f| %>	
					<%= f.label :name %>
					<%= f.text_field :name %>
					<%= f.label :discipline %>
					<%= f.text_field :discipline %>
					<%= f.label :founded %>
					<%= f.text_field :founded %>
					<%= f.label :accepting_applications %>
					<%= f.select :accepting_applications, [true, false], {} ,class: 'browser-default' %>		
					<br>		
					<%= f.submit :class => 'btn-small #eeeeee grey lighten-3' %>
				<% end %>	
			</div>
		</div>
	</div>
</div>