<h1><%= @institution.name %></h1>
<ul>
	<li><%= "Discipline: #{@institution.discipline}" %></li>
	<li><%= "Founded: #{@institution.founded}" %></li>
	<li><%= "Accepting Applications: #{@institution.accepting_applications}" %></li>
</ul>

<hr>

<%= link_to 'Edit', edit_institution_path(@institution) %> || 
<%= link_to 'Delete', institution_path(@institution), method: :delete, data: {confirm: 'Really Delete?'} %> ||

<hr>
<%= link_to 'All Institutions', institutions_path %>