<div class="container">
	<h1><%= @institution.name %></h1>
	<ul>
		<li><%= "Discipline: #{@institution.discipline}" %></li>
		<li><%= "Founded: #{@institution.founded}" %></li>
		<li><%= "Accepting Applications: #{@institution.accepting_applications}" %></li>
	</ul>	
	<%= link_to 'Edit', edit_institution_path(@institution) %> || 
	<%= link_to 'Delete', institution_path(@institution), method: :delete, data: {confirm: 'Really Delete?'} %>	

	<hr>
	<% if @institution.courses.any? %>
		<h3>Courses</h3>
		<ul>
		<div class="row">
			<div class="col s10 offset-s1">
				<div class="card">
					<% @institution.courses.each do |course| %>
						<li><%= link_to course.title, institution_course_path(@institution, course) %></li>
					<% end %>
				</div>
			</div>
		</div>
		</ul>
		<%= link_to 'Add a Course', new_institution_course_path(@institution) %>
	<% else %>
		<h3>There are no current courses at this institution.</h3>
		<p>Feel free to <%= link_to 'add one', new_institution_course_path(@institution) %>.</p>
	<% end %>
	

	<hr>
	<%= link_to 'All Institutions', institutions_path %>
</div>